.adminLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F8F2F3;
}

.background {
  background-color: #F8F2F3;
}

.tableContainer {
  flex: 1;
  margin: 10px;
}

.actionContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.topBar {
  flex-grow: 1;
}

.header {
  flex-grow: 1;
  text-align: left;
}

.footer {
  flex-shrink: 0;
}

.titleActionBar {
  background-color: #e63946;
}

.titleText {
  color: white;
}

.titlePendingBar {
  background-color: #a8dadc;
}

.titleUsersBar {
  background-color: #457b9d;
}